@import url('../assets/css/styles.css');


.Latestcollection-container {
    width: 100%;
    /* height: 100vh; */
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: 4px;
}

.collection-name {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    padding: 10px;
    /* background: white; */
    color: var(--font-color);
}

.collection-icon-name {
    margin-top: 30px;
}


.collection-name .collection-icon {
    font-size: 5rem;
    color: var(--prime-color);
}


.Latestcollection-container .collection-categogry {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}


.collection-categogry .left-collection,
.rigth-collection {
    width: 48%;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
}

.left-collection img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.4s ease-in;
}

.left-collection img:hover {
    transform: scale(1.1);
}

.left-collection .left-collection-name {
    position: relative;
    bottom: 60px;
    left: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--prime-color);
}

.rigth-collection img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.4s ease-in;
}

.rigth-collection img:hover {
    transform: scale(1.1);
}

.rigth-collection .left-collection-name {
    position: relative;
    bottom: 60px;
    left: 20px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--prime-color);
}

@media (max-width:700px) {
    .Latestcollection-container {
        margin-top: 20px;
    }

    .collection-name {
        font-size: 1.5rem;
    }

    .collection-name .collection-icon {
        font-size: 10rem;
    }

    .collection-categogry {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .collection-categogry .left-collection,
    .rigth-collection {
        width: 100%;
    }
}