.refund-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* color: #333; */
    /* background: #000; */
}

h2 {
    font-size: 2rem;
    color: white;
}

h3 {
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 15px;
    color: white;
}

strong {
    color: #000;
}